a {
    text-decoration: none;
}

.tituloImagenHeader {
    white-space: pre-line;
}

.separador-seccion {
    background-color: #4040409e;
}

.contenido-serivicios {
    background-color: #34303017;
    padding: 50px;
}

.contenidoSeccion {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.contenidoSeccion * {
    color: #fff;
}

.contenidoSeccion div {
    height: 90px;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 3px solid;
}

.contenidoSeccion .titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 10px;
}

.w-30 {
    width: 30%;
}

/**
*
* Header
*
*/

.bg-section {
    height: 1050px!important;
}

/* Título sección */
.titulo-seccion > * {
    color: #fff!important;
}

/* Menú */
#primary-menu {
    width: 100%;
    float: right;
}

.menuDeplegablePrincipal {
    z-index: 2;
}

.collapse.show {
    display: block!important;
}

.navbar-nav li a {
    text-decoration: none!important;
}

.navbar .logo {
    line-height: unset!important;
}

.text-logo span {
    color: #fff;
}

/* Footer */
.contenedor-border-ba {
    color: #fff;
    border-bottom: 3px solid #ffc527;
}

.sub-title {
    font-size: 19px;
    color: #fff;
}

.fb-page {
    min-height: 500px;
    max-height: 500px;
    background-color: rgb(130, 130, 130, 0.5);
}

@media (max-width:991px) {

    .navbar-collapse {
        position: absolute;
        right: 0;
        margin-top: 23px;
    }

}