.slick-slide {
    margin: 0px 20px;
    background-color: #fff;
}

.footer-img-slider {
    background-color: #ffa624;
    border: 3px solid #fff;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}